* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;

}
header{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}
header section{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #3a3a3a;
    text-transform: uppercase;
    
}

header section img{
    float: left;
    vertical-align: middle;
}
.search-area {
    position: relative;
    z-index: 1;
    float: right;
    margin-top: 5%;
 }
    .search-area form {
      position: relative;
      z-index: 10;
      width: 400;
      height: 80;
      margin: 0 50px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .search-area form {
          width: 170px;
          margin: 0 15px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .search-area form {
          margin: 15px auto; } }
      @media only screen and (max-width: 767px) {
        .search-area form {
          margin: 15px auto; } }
      .search-area form input {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        border: 1px solid #3762f0;
        padding: 0 15px 0 50px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.35);
        font-weight: 600;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .search-area form input:focus {
          border: 1px solid rgba(0, 0, 0, 0.5); }
        .search-area form button {
        position: absolute;
        width: 50px;
        height: 40px;
        background-color: transparent;
        top: 0;
        left: 0;
        z-index: 10;
        border: none;
        text-align: center;
        cursor: pointer;
        outline: none; }

nav{
    padding-left: 25%;
    overflow: hidden;
    text-align: center;
    width: 49%;
}
nav ul{
    list-style: none;
    display: inline-block;
    background: #d7e0fc;
    border-radius: 6px;


}
nav > ul > li {
    float: left;

}
nav ul li a{
    padding: 20px 40px;
    display: block;/*si no ponemos display block el padding no funciona, solo funcionaria hacia los lados*/
    color: #3762f0;
    text-decoration: none;
    transition: background-color .5s ease;
    font-family: 'Varela Round', sans-serif;

}
nav ul li a:hover{
    
    background: #2c56df;
    color: white;
    z-index: 100;    
    border-radius: 6px;
}
ul li ul{
    display: none;
    position: absolute;
    min-width: 140px;

}
ul li:hover > ul{
    display: block;
    background-color: #d7e0fc;
    z-index: 100;
}
ul li > ul li{
    transition-duration: 3s;
}
#slide-wrap .slider{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.parent{
    background-color: #eceff1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 24%;
    margin-right: 24%;
}
.parent .child-one{
    width: 39%;
    display: inline-block;
}
.parent .child-one figure {/**aqui decimos que del contenedor en el que esta solo ocupe el 50 */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.parent .child-one figure img{/**aqui decimos que del contenedor en el que esta solo ocupe el 50 */
    width: 50%;
    padding-left: 25%;
}
.parent .child-two{
    width: 50%;/*cuando juntamos dos inline-blocs se crea una linea por parte del navegador que no se puede eliminar por eso quitamos un px*/
    vertical-align: top;/*para que mande el contenido hacia arriba*/
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}
.parent .child-two a{
    background-color: #e91e63 ;
    color: white;
    padding: 10px ;
    border-radius:4px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}
.parent .child-two a:hover{
    background-color: #c51162 ;
}
.circle{
    border-radius: 50%;
    background-color: rgba(2, 133, 2, 0.726);
    color: white;
    padding: 20px;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    margin-top: -70px;
    margin-left: -70px;
    letter-spacing: 1px;
}


.parent2{
    width: 71%;
    padding-left:14%;
    padding-right: 14%; 
    margin: 0;

}
.parent2 .contents{
    display: inline-block;
    margin: 0;
    padding: 0;
    width:30%;
    border-radius: 5px;
    border: 1px solid #3762f0;
}
.parent2 .contents  img{
    width: 85%;
    border-radius: 5px;
    display: inline-block;

}
body > h2{
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 40%;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #3a3a3a;
    text-transform: uppercase;
}

.parent25 .arrowButton{
    display: inline-block;
    padding: 0;
    width: 10%;
}
.parent25{
    padding-left:24%;
    padding-right: 24%; 
    margin: 0;

}
.parent25 .arrowButton:first-child{
    margin-right: 2%;
}
.parent25 .arrowButton:last-child{
    margin-left: 2%;
}
.parent25 .arrowButton  img{
    width: 100%;
    display: inline-block;
    margin-bottom: 50%;
}
.parent25 .contents2{
    display: inline-block;
    background-color: #eceff1;
    margin: 0;
    width:30%;
    border-radius: 5px;
    align-items: center;
}
.parent25 .contents2  img{
    width: 75%;
    border-radius: 5px;
    display: inline-block;

}
.parent2 .contents h3,h4{
    
    align-items: center;
}



.parent3{
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 100px;
}
.parent3 .child-one{
    background-color: #eceff1;
    border-radius: 10px;
    display: inline-block;
    font-size: 0.8em;
    width: 35%;
    vertical-align: top;
    margin-right: 5px;
    padding: 3%;
    padding-left: 10%;
    height: 35%;
}
.parent3 .child-two{
    background-color: #eceff1;
    border-radius: 10px;
    display: inline-block;
    font-size: 0.8em;
    width: 40%;
    vertical-align: top;
    margin-left: 5px;
    padding: 3%;
    padding-left: 5%;
    height: 40%;
}
footer{
    margin-top: 20px;
    background: #252525;
    color: rgb(133, 130, 130);
    padding: 50px 40px;
    font-size: 90%;
}
footer li:hover{
    color: white;
}
footer p{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 35px;
}
.social{
    display: inline-block;
    margin-left: 40%;
    margin-top: 60px;
}
.social img{
    margin: 0px 5px;
}
/**************************************************************/
table{
    width: 100%;
    border: 3px solid skyblue;
    border-bottom-color: blue;
    border-right-color: blue;
    border-collapse: collapse;
    
}
table td{
    border: 1px solid #000;
    padding: 10px;
}
table tr:hover{
    background: #ccc;
}
table td:hover{
    background: #000;
    color: #fff;
}

.fondoPlomo{
    background-color: #cfd8dc; 
}

